 /*Allows user to scroll past bottom of content for readability */
body {
  background-color: black !important;
  padding-bottom:100px;
}

/*Styles the carousel indicator dots to stand out more */
.carousel div h3 {
  text-align: center;
  font-weight: bold;
}

 /*Styles the carousel indicator dots to stand out more */
.carousel div h3 {
  text-align: center;
  font-weight: bold;
}
.carousel-indicators {
  margin-top:10px !important;
}
.carousel-indicators li {
  margin-top:10px !important;
  border-color: #444 !important;
}
.carousel-indicators .active {
  background-color: #333 !important;
}

/*Makes modals more readable */
.modal-body {
  background-color:#fff;
}
.modal-body p {
  text-indent: 30px;
}

/*Makes the submit button of the feedback form full width of text area */
.custom-control {
  width:100% !important;
}

/*includes custom column width to put a small space between the columns */
.column {
  background-color: white;
  border-radius:5px;
  width:48% !important;
  margin:1%;
  padding-bottom: 5px;
  height: 100%;
}
.column .link {
  list-style-type: none;
  margin:0;
  padding:0;
}
.column .link li, .column ol li a {
  display: block;
  margin:3px;
}
.column .link li a, .column ol li a {
  display: block;
  background-color:rgba(0,255,0,.5);
  border-radius: 5px;
  padding:5px;
  color:black;
  text-align: center;
}
.column ul li a:hover, .column ol li a:hover {
  color:rgba(0,255,0,1);
  background-color:black;
}

/*Turns off custom column width for stacking */
@media (max-width:768px) {
 .column {
    width:96% !important;
    margin:2%;
    padding-top:1px;
 }
 .column h3 {
    text-align: center;
 }
 .imgbay img {
    width: 98%;
    float:none;
 }
}
